header, footer {
    background-color: #51576d;
    color: #f2d5cf;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;    
    padding: 3em;
    position: relative;
    clear: both;
    height: auto;        
    visibility: visible;
}


nav {
    background-color: #626880;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: #f4b8e4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: #414559;
}

nav a:active {
    background-color: #f2d5cf		;
    color: #ea999c;
}

nav a.active {
    background-color: #f2d5cf		;
    color: #ea999c;
}

nav a:link {
    text-decoration: none;
}

.main-content {
    display: flex;
    min-height: 68vh;
    margin: 0;
    background-color: #838ba7;
}

.side-column {
    width: 25%;
    background-color: #737994;
    color: #c6d0f5;
    padding: 20px;
    height: auto;
}

.linktest:link {
    color: #c6d0f5;
}

.linktest:visited {
    color: green;
}

.side-column h3 {
    margin-top: 1px;
}

.main-column {
    width: 75%;
    padding: 15px 30px 30px 15px;
    vertical-align: top;
    height: auto;
    color: #f2d5cf;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    clear: both;
}

th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid #f2d5cf;
}

th {
    background-color: #626880;
    color: #f2d5cf;
}

form {
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 0.9;
}

.main-column ol {
    font-size: 1.2em;
    font-style: italic;
    margin-left: 20px
}

.main-column img {
    border-style: solid;
    border-width: 1px;
    border-color: #ddd;
}

input[type="text"] {
    width: 200px;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    font-size: 14px;
}

input[type="text"]::placeholder {
    color: #aaa;
}

input[type="password"] {
    width: 200px;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    font-size: 14px;
}

input[type="password"]::placeholder {
    color: #aaa;
}


textarea {
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    resize: vertical;
    transition: border-color 0.3s, box-shadow 0.3s;
}


input[type="submit"] {
    margin-top: 10px;
    background-color: #626880;
    color: #f2d5cf;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

input[type="radio"] {
    margin-left: 5px;
    vertical-align: middle;
    opacity: 0.8;
}

input[type="radio"]:hover {
    opacity: 1;
}


input[type="text"], input[type="submit"] {
    padding: 10px;
    margin: 5px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

em{
    font-style: italic;
    font-size: 1.2em;
    font-weight: bold;
}

.candy {
    background-image: url("images/candy.jpg");
    background-repeat: no-repeat;
    color:black;
}

#currentDateTime {
    display: block;
    font-size: 0.8em;
}

.formFormat label {
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-right: 10px;
}

.formFormat {
    position: relative;
}

.formFormat input[type="submit"] {
    position: absolute;
    right: 0;
    bottom: 0;
}

.productDisplay {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.product {
    border: 1px solid #c6d0f5;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
}

.product:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

.product img {
    max-width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
}

.product h4 {
    margin-top: 10px;
    margin-bottom: 5px;
    color: #333;
    font-size: 18px;
}

.product p {
    margin-bottom: 10px;
    color: #555;
}

.addToCartBtn {
    background-color: #8caaee;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    transition: background-color 0.3s;
}

.addToCartBtn:hover {
    background-color: #84c588;
}

.categorySelect {
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    appearance: none; 
    width: 50%;
}

input[type="number"] {
    width: 30px;
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input[type="number"]::placeholder {
    color: #aaa;
}

.hidden {
    display: none;
}

.offer-container {
    background-color: #9caae1;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
}

.offer-btn {
    background-color: #74d077;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.offer-btn:hover {
    background-color: #67c16d;
}

.quiz-container {
    margin-top: 15px;
}

.question-text {
    font-size: 18px;
    color: #333;
}

.btn-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 15px;
}

.quiz-btn {
    background-color: #e8bf82;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.quiz-btn:hover {
    background-color: #d2a054;
}

.offer-text {
    margin-top: 20px;
    font-size: 16px;
    color: #555;
}

.orderButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.orderButton {
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

#cancelOrderButton {
    background-color: #f2d5cf;
    color: #5c4f4b;
}

#placeOrderButton {
    background-color: #a8dadc;
    color: #1d3557;
}

.login-container {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 330px;
}

.loginButton {
    background-color: #CBA6F7;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}


.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}



.login-container a {
    color: #CBA6F7;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}

.login-container body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Light grey background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}


/* Form group styling */
.form-group {
    margin-bottom: 15px;
}

/* Label styling */
.login-container label {
    display: block;
    margin-bottom: 5px;
}

.centered-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    height: 100vh; /* Full viewport height */
    text-align: center; /* Center text */
}